# Server Configuration
PORT=5000
NODE_ENV=development

# Database Configuration
MONGO_URI=mongodb://127.0.0.1:27017/proofly_db

# Security & JWT Secrets
ACCESS_TOKEN_SECRET=proofly_access_token_secret_key_change_in_production_32bytes
REFRESH_TOKEN_SECRET=proofly_refresh_token_secret_key_change_in_production_32bytes

# Client / CORS Settings
CLIENT_URL=http://localhost:3000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
